<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533122386412-4a28qg7ohotva2ec7i3sgh2vt5vjq95a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533122386412-4a28qg7ohotva2ec7i3sgh2vt5vjq95a</string>
	<key>API_KEY</key>
	<string>AIzaSyCBfg3cSBEO83rJi45QluiYmxCsj1UwoVc</string>
	<key>GCM_SENDER_ID</key>
	<string>533122386412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MacApp.MyFirebaseLoginAuth</string>
	<key>PROJECT_ID</key>
	<string>myloginauth-24510</string>
	<key>STORAGE_BUCKET</key>
	<string>myloginauth-24510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533122386412:ios:caf50e83bf56a5d0d358c9</string>
</dict>
</plist>